.date-container {
    position: relative; /* Allows absolute positioning of the arrows within this container */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 5%; /* Adjusts padding to create space relative to the container's width */
  }
  
  .left-arrow, .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Centers vertically */
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .left-arrow {
    left: 30%; /* Positions the left arrow 2% from the left side of the container */
  }
  
  .right-arrow {
    right: 30%; /* Positions the right arrow 2% from the right side of the container */
  }
  
  .date {
    padding: 0 1rem; /* Controls the space between the arrows and the date */
    white-space: nowrap; /* Prevent date text from wrapping */
  }